html  {

}

body {

height: 100%;
margin: 0;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d8395+0,6d8395+100&1+0,0+100 */
background: -moz-linear-gradient(left, rgba(109,131,149,1) 0%, rgba(109,131,149,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(109,131,149,1) 0%,rgba(109,131,149,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(109,131,149,1) 0%,rgba(109,131,149,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d8395', endColorstr='#006d8395',GradientType=1 ); /* IE6-9 */
font-family: europa, Helvetica, Arial, sans-serif;
font-size:20px;
color:#DADDE4;


}

.container {
max-width: 1400px;
}

.small, small {
font-size: 80%;
font-weight: 400;
color: #b6b6b6;
}  


table p {
display: none;
}


.please_note {

color: #DADDE4;
background: #650404;
border-radius: 10px;
font-size: 1rem;
padding: 30px;
margin-top: 20px;
}

.please_note p {
  
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}






.navbar-expand-lg .navbar-nav .dropdown-menu {
position: absolute;
background: #6D8395;
margin-top:10px;
}

.dropdown-item.active, .dropdown-item:active {
color: #000;
text-decoration: none;
background-color: #8197a8;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
color: #DADDE4!important;
border-bottom: .5px dotted #DADDE4;
outline:none;
}

.dropdown-item:focus, .dropdown-item:hover {
color: #DADDE4;
text-decoration: none;
background-color: #6D8395;
}

.dropdown-item {
 
 text-align: right!important;
 padding: .45rem 1.5rem;

 }



.record_heading {

color: #ffffff;
background: #2e4151;
border-radius: 5px;

padding: 20px;
margin-bottom:20px;
margin-top:30px;
}


.record_heading h1  {
  
font-size: 2.5rem!important;
margin:15px;
  
}

.record_button {

float: right;
position:absolute;
right: 10px;
bottom: -5px;

}

img.post_button {

width: 50px;
float: right;
margin-left: 3px;
margin-bottom: 3px;

}

.post_button {

width: 50px;
float: right;

}

.record_button a {

color: #96C3C6!important;

}

.record_symptoms {

color: #ffffff;
background: #2e4151;
border-radius: 5px;
padding: 20px;
margin-top:10px;

}


.record_symptoms_heading {

color: #ffffff;
border-radius: 5px;
padding: 0px;
font-size: 1.5rem!important;
margin-bottom:20px;

}

.record_symptoms_heading p {
margin-top: 0px;
margin-bottom: 0px;
font-weight: 600;
}


.record_symptoms_body {

padding: 12px;
padding-left: 15px;
padding-top: 0px;
padding-bottom: 0px;
border-left: 3px solid #96C3C6;
margin:10px;


}



.record_reference {

color: #ffffff;
background: #2e4151;
border-radius: 5px;
padding: 20px;
margin-top:30px;
padding-bottom:40px;

}


.record_reference_heading {

color: #ffffff;
border-radius: 5px;
padding: 0px;
font-size: 1.5rem!important;
margin-bottom:20px;

}

.record_reference_heading p {
margin-top: 0px;
margin-bottom: 0px;
font-weight: 600;
}


.record_reference_body {

padding: 12px;
padding-left: 15px;
padding-top: 0px;
padding-bottom: 0px;
border-left: 3px solid #96C3C6;
margin:10px;


}






.record_main_body {

padding: 12px;
padding-left: 25px;
padding-top: 0px;
padding-bottom: 0px;
border-left: 3px solid #96C3C6;
margin:10px;
}


.form-control.searchable-input.floatL {
display: none;
}

.ui-helper-hidden-accessible {
display: none;
}


.gc-container .chosen-container {
padding-top: 0px;
width: 100%!important;
}


.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
margin: 5px 5px 5px 5px;
padding: 0;
height: 35px;
outline: 0;
border: 0 !important;
background: transparent !important;
box-shadow: none;
color: #495057;
font-size: .9rem;
font-family: sans-serif;
line-height: 1em;
border-radius: 0;
width: 100%!important;
}


.chosen-container-multi .chosen-choices {


border-radius: 5px;
background:#dee6eb;

}



.chosen-container .chosen-results li.active-result {
display: list-item;
cursor: pointer;
font-size: 1.2em;
line-height: 1.8em;
}


.chosen-container-multi .chosen-choices li.search-choice {
line-height: 1.2em;
font-size: 1.2em;
margin-top: 10px;
margin-left: 10px;

}


.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
top: 7px;

}



.chosen-container-single .chosen-single {

margin-left: 0px;
height: 3em;
/* padding-top: 2px; */

}

.chosen-container-single .chosen-single-with-deselect span {
margin-right: 38px;
font-size: 1.2em;
padding-top: 6px;
}



.chosen-container-single .chosen-single abbr {

top: 14px;

}



.sub-nav {
font-size: 1.1em;

margin-bottom: -30px;

}

#search {
font-size: 1.8rem;
padding: 20px;
height: 80px;
padding-left: 40px;
position: relative;
}

#search.form-control{
  
background-color:#ffffff;
font-family: europa, Helvetica, Arial, sans-serif;
color: #3D5161;
min-width: 100px;
border: 0px solid #ced4da;

}

.input-group {

width: 80%!important;
}

.alert a {
color: #3D5161;
text-decoration: underline;

}

.alert a:hover {
color: #586e80;
text-decoration: none;
}




.header-tools .btn {
padding:20px!important;
background: #96C3C6;
color: #000000;
font-size: .8em;
}

.gc-export {
display: none;
}

.gc-container .table-label {
font-size: 1rem;
background: #000;
padding:20px;
display:none;
}

.regular_user .footer-tools {
  
  display:none!important;
}





#post_body a {
  
  color: #96C3C6;
  text-decoration: none; 
  
  
  
}

.card-title > a {
color: #ffffff!important;

}


.pagination a {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
 }


.pagination li.active {
  background: #96C3C6;
  color: white;
 }

 .pagination li.active a {
  color: white;
  text-decoration: none;
 }



#search.form-control:focus {
color: none;
background-color: none;
border-color: none;
outline: 0;
box-shadow: none;
}




.autocomplete_search_button {
  
    position: relative;
    top: 0px;
    left: 0px;
    width: 85px!important;
    height: 80px!important;
    background:#96C3C6;
    padding:20px;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    
  
}



.autocomp-layout2 {
 border-bottom: 1px;
 border-bottom-style: dotted;
 border-color: #3D5161;
 }






.ui-autocomplete {
  color: #3D5161;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 2px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: rgba(214, 222, 229, 0.9);
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    line-height:2.5rem;
    font-size:1.4rem;
    text-indent:6px
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #000;
    text-decoration: none;
    background-color: #96C3C6;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}






.no-gutters {
margin-right: 5px;
margin-left: 5px;
}

.mb-3, .my-3 {
margin-bottom: 1rem!important;
}


body {
/**	display:none; **/
}

p {
margin-top: 1rem;
margin-bottom: 1.4rem;
}

.h4, h4 {
font-size: 1.5rem;
margin-top: 40px;
margin-bottom: 20px;
}

.row.spacer:before {
content: '';
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
}


row.spacer {
border: 1px;
}

.nav-link {
display: block;
padding: .5rem 1rem;
font-size: 1.2em;
}

.c_form {
margin-top: 20px;
width: 100%;
margin-bottom: 20px;
}

.stretched-link {
font-size: 1em;
margin-bottom: 50px;
}

#res_message {
position: relative;
top: 10px;
background: color(srgb 0.679 0.077 0.077);
line-height: 3em;
display:none;
}

.btn-success {
color: #3D5161;
background-color: #96C3C6;
border-color: #96C3C6;
}

.btn-success:hover {
color: #fff;
background-color: #619699;
border-color: #619699;
}

.alert-success {
background: #96C3C6!important;
color: #3D5161;
border: 0px;
}

.final_footer {
    margin: 20px;
    color: #3D5161;
    font-size: 16px;
}


.modal-content {
    border-radius: 15px;
    padding: 20px;
}




.final_footer a {
color: #000000;
}

.final_footer a:hover {
color: #3D5161;
}

.search_box img {
width: 100%;
max-width: 800px;
border-style: none;
}

.search_box a
{  outline:none;
}

.modal-footer {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: end;
justify-content: flex-end;
padding: 1rem;
border-top: 1px dashed #96C3C6;
}

.search_box {
margin-top: 30px;
margin-bottom: 20px;
}

.homesearchbox.search_box {
margin-top: 60px;
margin-bottom: 80px;
}


.col-md-4.media-kit {
background: none;
padding: 20px;
margin: 0px;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
}

.person {
display: block;
float: left;
margin-bottom: 20px;
text-align: top;
margin-top: 20px;
}

#post_body img {
vertical-align: middle;
border-style: none;
float: left;
margin-right:20px;
width: 305px;
border-radius: 5px;
}

.no_img_wrap {
float: none!important;
}

#record_body img {
vertical-align: middle;
border-style: none;
float: left;
margin-right:20px;
width: 500px!important;
}

.card-body.home_page_card_1 {
background-image: url("../../../../../../public/assets/uploads/files/homepage_box_1.jpg");
background-size: 500px;
background-repeat: no-repeat;
height:250px;
border: 0px;
border-radius: 5px;
box-shadow: 0px 0px 15px 1px #222C34;
}

.card-body.home_page_card_2 {
background-image: url("../../../../../../public/assets/uploads/files/homepage_box_2.jpg");
background-size: 500px;
background-repeat: no-repeat;
height:250px;
border: 0px;
border-radius: 5px;
box-shadow: 0px 0px 15px 1px #222C34;
}

.card-body.home_page_card_3 {
background-image: url("../../../../../../public/assets/uploads/files/homepage_box_3.jpg");
background-size: 500px;
background-repeat: no-repeat;
height:250px;
border: 0px;
border-radius: 5px;
box-shadow: 0px 0px 15px 1px #222C34;
}

.card-body.listpage {

height:250px;
border: 0px;
border-radius: 5px;
box-shadow: 0px 0px 15px 1px #222C34;

}

.card-title > a {
font-size: 1.2rem;
}  



.card-title.mb-0 {
background-color: rgba(61, 81, 97, 0.5);
padding: 10px;
border-radius: 5px;
border: 0px;
margin-top: 0px;
bottom: 0px;
}


.home.card-title.mb-0 {
background-color: rgba(61, 81, 97, 0.5);
padding: 10px;
border-radius: 5px;
border: 0px;
margin-top: 170px;
bottom: 0px;
}





a {
font-size: 1em;
}

form {
margin-top: 0px;
}

.homepageh1 h1 {
font-size: 4.5rem!important;
font-weight: 600;
margin-top: 70px;
margin-bottom: 70px;
}

.h1, h1 {

font-weight: 600;
margin-bottom: 30px;
}

.mis_blue {
  
 color:#96C3C6; 
}

dl, ol, ul {
margin-top: 0;
margin-bottom: 0rem;
margin:20px;
}



input#file_record_image, input#button_record_image, optgroup, select, textarea {

background-color: #DADDE4;
color: #3D5161;
padding: 5px;
width:100%!important;

}


@supports (-webkit-touch-callout: none) {
    /* ios device specific */
   
  
  select, select.form-control {
      border-radius: 3px;
  }
  

  
}


.post_image_alignment {
float: none !important;
margin-right: 20px;
margin-bottom: 30px;
margin-top: 10px;
width: 100%!important;
}



.home.card {

margin-top: 0px;

}

.card {
background-color: #3D5161;
margin-top: 10px;
border: 0px;
max-width: 450px;
}


.modal-header {

border-bottom: 0px;
padding: 0px;

}

button.close {
color: #ffffff;
font-size: 1.5em;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
color: color(srgb 1 1 1 / 0.703);
text-decoration: none;
}

.body_inner {
padding: 20px;
}

.body_inner_frame {

background: #3D5161;
border-radius: 10px;
padding:20px;

}

textarea.form-control {
height: 300px!important;
}

.gc-container .table-container {
border-left: 0px solid #DDD;
border-right: 0px solid #DDD;
}

.gc-container .form-group label {
font-weight: 300;
padding-top: .5rem;
text-align: left;
margin-right: 4px!important;
margin: auto;

}

.gc-container .form-group label .control-label {
height:200px;

}

.gcrud-form-group {
min-height: 1rem;
text-align: left;
}


#debug-icon {
bottom: 0;
position: fixed;
right: 0;
z-index: 10000;
height: 0px;
width: 0px;
margin: 0px;
padding: 0px;
clear: both;
text-align: center;
display: none;

}



.table-warning, .table-warning>td, .table-warning>th {
background-color: #152532;
}

.table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th {
background-color: #2c3034;
}

.modal-content {

background-color: #3D5161;

}



.dropdown-divider {
height: 0;
margin: .5rem 0;
overflow: hidden;
border-top: 1px dashed #3D5161;
}


.entry-pane, .form-group {

border: 1px solid #6D8395;
background: #6D8395;
border-radius: 10px;
text-align: left;
margin-left: 1%;
margin-right: 1%;
font-weight: 300;
padding:20px!important;


}

.entry-pane_no_colour  {
padding: 10px;
border: 0px solid #DADDE4;
border-radius: 10px;
text-align: left;
background: none;
margin-left: 0%;
margin-right: 0%;
margin-bottom: 0px;
margin-top: 10px;
}


.entry-pane_buttons, .gcrud-form-group {
padding: 10px;
text-align: center;

border: 0px;
background: none;



}


.form-container {
padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
border: 0px solid #DDD;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}



.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #DADDE4;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #DADDE4;
    border-radius: 40%;
    outline: none;
    transition-duration: 0.3s;
    background-color: initial;
    cursor: pointer;
  }

.checkbox > input:checked {
    border: 2px solid #DADDE4;
    background-color: #FFFFFF;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #DADDE4;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox > input:active {
    border: 2px solid #DADDE4;
}



.table-label {
background: #3D5161;
border: 1px solid;
border-color: #DADDE4;
border-radius: 10px;
width: 100%;
padding: 5px;
text-align: left;
}


td {
padding: 15px!important;
}

.table-bordered thead td, .table-bordered thead th {
border-bottom-width: 2px;
}
.table thead th {
vertical-align: bottom;
border-bottom: 0px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
border: 0px solid #dee2e6;
}
.table td, .table th {
padding: .75rem;
vertical-align: top;
border-top: 0px solid #dee2e6;
}


.table-bordered {
border: 0px solid #dee2e6;
}

.gc-container .header-tools {
padding: 5px 5px 10px 5px;
border-left: 0px solid #DDDDDD;
border-right: 0px solid #DDDDDD;
}



.col-9 {
-ms-flex: 0 0 75%;
flex: 0 0 75%;
max-width: 75%;
padding: 10px;

}

.col-3 {
-ms-flex: 0 0 25%;
/* flex: 0 0 25%; */
max-width: 25%;
padding: 10px;
}



a {
color: #DADDE4;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}


a:hover {
color: #ffffff;
text-decoration: none;
}

.record_footer a {
color: #96C3C6;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}


.record_footer a:hover {
color: #96C3C6;
text-decoration: none;
}






.form-control {
font-size: 20px;
display: block;
width: 100%;

/* height: 50%; */
height: calc(3.25rem + 2px);
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #dee6eb;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
margin: 0px;
}


#ajax_form {

width: 70%;
min-width:300px;
margin-top: 20px;


}



.show-view .control-label {
margin-top: 10px;
font-weight: 800;
}




input[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
}


.entry-pane.form-group.notes_form_group.row {

}


.print_pdf_button {
width: 150px;
height: 150px;
background: #ffffff;
border-radius: 50%;
border-color: #000000;
box-shadow: 00px 0px 50px 0px;
}


.entry-pane.form-group.mobility_level_form_group.row {
border: none;
}

.search_results_header {
margin-bottom: 40px;
}

.row.search_results_box_header {
background: #3D5161;
margin-bottom: 20px;
padding: 20px;
}

.row.search_results_box {
background: #2e4151;
margin-bottom: 20px;
padding: 20px;
border-radius: 5px;
}



.home_category_listing {
column-width: 8em;
column-gap: 1em;
column-rule: 1px;
margin-top: 0px;
/* height: 200px; */
}

.home_category_listing p {
margin-top:0px;
margin-bottom:0px;
font-size: 14px;
}





.category_listing {
column-width: 14em;
column-gap: 2em;
column-rule: 1px;
margin-top: 30px;
/* height: 200px; */
}

.category_listing .row.search_results_box {
background: none;
margin-bottom: 0px;
padding: 10px;
padding-left: 5px;
padding-right: 5px;
max-height: 150px;
min-height: 150px;
height: 150px;
overflow: hidden; /* fix for Firefox */
break-inside: avoid-column;
-webkit-column-break-inside: avoid;
}

.category_listing .col-md-12 {
  
background: #2e4151;
border-radius: 5px;

}




.search-right {
  
  text-align: right;
  
}

#final_mobility_level {
border: 0px solid #454F63;
border-radius: 50%;
height: 150px;
width: 150px;
background: #ffffff;
margin: auto;
align-items: center;
font-size: 100px;
font-weight:600;
-webkit-box-shadow:0 0 20px #454F63; 
-moz-box-shadow: 0 0 20px #454F63; 
box-shadow:0 0 20px #454F63;
}

.gc-container .table-section {
display: block;
}


.bootbox-alert div div div button.btn-primary {
background-color: #DADDE4;
border-color: #DADDE4;
}

.navbar-brand.mx-auto {
font-weight: 600;
padding-right: 50px;
background-image: url("../../../../../../images/full-logo.png");

padding-right: 390px;
background-size: 380px;
background-repeat: no-repeat;
height: 90px;
margin-bottom: 20px;

}



.btn-outline-dark {
color: #DADDE4;
background-color: transparent;
background-image: none;
border-color: #DADDE4;
}




.bg-dark {
background-color: #3D5161!important;

}

.navbar {
	
	font-size:15px;
	
}

.navbar-dark .navbar-toggler {
color: rgba(0,0,0,.5);
border-color: #DADDE4;

}

.navbar-dark .navbar-toggler {

border-color: #3D5161; 
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	
color: #DADDE4!important;
border-bottom: 3px solid #DADDE4;
	
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
color: #a1a3a6;
}

.navbar-dark .navbar-nav .nav-link {
color: #DADDE4;
}




.navbar-collapse {
margin-left: 20px;
margin-top: -5px;
}




.notes_form_group .form-control {
	
	width: 70%;
	
	}



.gc-container .row {


padding: 0px;
margin-left: unset;
margin-right: unset;


}


.chosen-container-single .chosen-default, .chosen-single {
color: #999;
margin-bottom: 7px;
margin-left: 0px;
}

/** .chosen-container * {

width: 200px;
background: #ffffff;
}

**/

.col-sm {

background: #ffffff;
margin: 5px;
padding: 20px;
}

.col {

background: #ffffff;
margin: 5px;
padding: 20px;
}

.card_layout {
/* background: #fff; */
/* margin: 5px; */
padding: 20px;
border: 0px solid;
}




#file_question_image_1 {
	
	display:block;
	
	}
	
#field-question_image_1 {
	
	display:none;
	
	}	
	

#field-question_image_2 {
	
	display:none;
	
	}



li h1 {
font-size: 1.6rem;
}

 li {display: block; }
.privacy_policy #l1 {padding-left: 0pt;counter-reset: c1 1; }
.privacy_policy #l1> li>*:first-child:before {counter-increment: c1; content: counter(c1, decimal)". ";  }
.privacy_policy #l1> li:first-child>*:first-child:before {counter-increment: c1 0;  }
.privacy_policy #l2 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l2> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l2> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.privacy_policy #l3 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l3> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l3> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.privacy_policy #l4 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l4> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l4> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.privacy_policy #l5 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l5> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l5> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.privacy_policy #l6 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l6> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l6> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.privacy_policy #l7 {padding-left: 0pt;counter-reset: c2 1; }
.privacy_policy #l7> li>*:first-child:before {counter-increment: c2; content: "("counter(c2, lower-latin)") ";  }
.privacy_policy #l7> li:first-child>*:first-child:before {counter-increment: c2 0;  }





 

.terms_and_conditions #l1 {padding-left: 0pt;counter-reset: c1 1; }
.terms_and_conditions #l1> li>*:first-child:before {counter-increment: c1; content: counter(c1, decimal)". ";  }
.terms_and_conditions #l1> li:first-child>*:first-child:before {counter-increment: c1 0;  }
.terms_and_conditions #l2 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l2> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". ";  }
.terms_and_conditions #l2> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l3 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l3> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l3> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l4 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l4> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l4> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l5 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l5> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l5> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l6 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l6> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". ";  }
.terms_and_conditions #l6> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l7 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l7> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l7> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l8 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l8> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l8> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l9 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l9> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l9> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l10 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l10> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l10> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l11 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l11> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l11> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l12 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l12> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l12> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l13 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l13> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l13> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l14 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l14> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l14> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l15 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l15> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l15> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l16 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l16> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". "; }
.terms_and_conditions #l16> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l17 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l17> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l17> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l18 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l18> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l18> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l19 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l19> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l19> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l20 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l20> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l20> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l21 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l21> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". "; }
.terms_and_conditions #l21> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l22 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l22> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l22> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l23 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l23> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l23> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l24 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l24> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l24> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l25 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l25> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l25> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l26 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l26> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l26> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l27 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l27> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". "; }
.terms_and_conditions #l27> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l28 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l28> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l28> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l29 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l29> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l29> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l30 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l30> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l30> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l31 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l31> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l31> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l32 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l32> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l32> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l33 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l33> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l33> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l34 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l34> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l34> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l35 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l35> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". "; }
.terms_and_conditions #l35> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l36 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l36> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l36> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l37 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l37> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l37> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l38 {padding-left: 0pt;counter-reset: c3 1; }
.terms_and_conditions #l38> li>*:first-child:before {counter-increment: c3; content: "("counter(c3, lower-latin)") ";  }
.terms_and_conditions #l38> li:first-child>*:first-child:before {counter-increment: c3 0;  }
.terms_and_conditions #l39 {padding-left: 0pt;counter-reset: c4 1; }
.terms_and_conditions #l39> li>*:first-child:before {counter-increment: c4; content: "("counter(c4, lower-roman)") ";  }
.terms_and_conditions #l39> li:first-child>*:first-child:before {counter-increment: c4 0;  }
.terms_and_conditions #l40 {padding-left: 0pt;counter-reset: d1 1; }
.terms_and_conditions #l40> li>*:first-child:before {counter-increment: d1; content: "("counter(d1, lower-latin)") ";  }
.terms_and_conditions #l40> li:first-child>*:first-child:before {counter-increment: d1 0;  }
.terms_and_conditions #l41 {padding-left: 0pt;counter-reset: e1 1; }
.terms_and_conditions #l41> li>*:first-child:before {counter-increment: e1; content: "("counter(e1, lower-latin)") ";  }
.terms_and_conditions #l41> li:first-child>*:first-child:before {counter-increment: e1 0;  }
.terms_and_conditions #l42 {padding-left: 0pt;counter-reset: f1 1; }
.terms_and_conditions #l42> li>*:first-child:before {counter-increment: f1; content: "("counter(f1, lower-latin)") ";  }
.terms_and_conditions #l42> li:first-child>*:first-child:before {counter-increment: f1 0;  }
.terms_and_conditions #l43 {padding-left: 0pt;counter-reset: g1 1; }
.terms_and_conditions #l43> li>*:first-child:before {counter-increment: g1; content: "("counter(g1, lower-latin)") ";  }
.terms_and_conditions #l43> li:first-child>*:first-child:before {counter-increment: g1 0;  }
.terms_and_conditions #l44 {padding-left: 0pt;counter-reset: c2 1; }
.terms_and_conditions #l44> li>*:first-child:before {counter-increment: c2; content: counter(c1, decimal)"."counter(c2, decimal)". "; }
.terms_and_conditions #l44> li:first-child>*:first-child:before {counter-increment: c2 0;  }
.terms_and_conditions #l45 {padding-left: 0pt;counter-reset: h1 1; }
.terms_and_conditions #l45> li>*:first-child:before {counter-increment: h1; content: "("counter(h1, lower-latin)") ";  }
.terms_and_conditions #l45> li:first-child>*:first-child:before {counter-increment: h1 0;  }
.terms_and_conditions #l46 {padding-left: 0pt;counter-reset: h2 1; }
.terms_and_conditions #l46> li>*:first-child:before {counter-increment: h2; content: "("counter(h2, lower-roman)") ";  }
.terms_and_conditions #l46> li:first-child>*:first-child:before {counter-increment: h2 0;  }
.terms_and_conditions #l47 {padding-left: 0pt;counter-reset: i1 1; }
.terms_and_conditions #l47> li>*:first-child:before {counter-increment: i1; content: "("counter(i1, lower-latin)") ";  }
.terms_and_conditions #l47> li:first-child>*:first-child:before {counter-increment: i1 0;  }

















@media only screen 
and (max-width: 1200px) {
 
 .card-title > a {
 font-size: .6em;
 } 
  
}


@media only screen 
and (max-width: 1150px) {
 
 .navbar-brand.mx-auto {
 
 top: 18px;
 background-size: 320px;
 padding-right:310px;
 }
 
 
 .sub-nav {
 font-size: 1.1em;
 
 margin-bottom: -20px;
 
 }
 
  
}



@media only screen 
  and (max-width: 1100px) {
    
    .homepageh1 h1 {
    font-size: 3rem!important;

    }

	  
.input-group {

width: 100%!important;
}	  
	
	  
.body_inner_frame {

background: #3D5161;
border-radius: 10px;
padding:5px;
padding-top: 20px;

} 

.p-5 {
    padding: 3rem!important;
}





}


@media only screen 
and (max-width: 1000px) {



}



@media only screen 
and (max-width: 990px) {

.navbar-brand.mx-auto {
  position:absolute;
right:30px;
top:5px;
background-size: 310px;
padding-right: 297px;
margin-top: -10px;
}










.row.spacer:before {
content: '';
margin-bottom:10px;
}

.sub-nav {
font-size: 1em;


margin-bottom: 0px;


}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
 color: #DADDE4!important;
 border-bottom: .5px dotted #DADDE4;
 width:200px;
 } 
 
 
 .dropdown-menu-right {
 left: 0!important;
 right: auto!important;
 }
 
 .dropdown-item {
 
 text-align: left!important;

 }
 
 

}




@media only screen 
and (max-width: 760px) {
  
  .record_heading h1  {
    
  font-size: 1.8rem!important;
  margin:15px;
    
  }
  
  .record_heading {
  

  margin-bottom:20px;
  }
  
  .record_symptoms {
  
  margin-top:20px;
  margin-bottom:20px;
  }
  
  
 #record_body img {
 
   width: 305px!important;
   }
  
  
 .ui-autocomplete {
       font-size:1.0rem;

 }
 
 

 
 .search-right {
   
   text-align: left;
   
 }
  
 #search {
 font-size: 1.2rem;
 padding: 0px;
 height: 60px;
 padding-left: 20px;
 position: relative;
 }
 
 .autocomplete_search_button {
 width: 65px!important;
 height: 60px!important;
 padding: 14px;
 }
 
 .homesearchbox.search_box {
 margin-top: 40px;
 margin-bottom: 40px;
 }
  
  .search_box {
  margin-top: 30px;
  margin-bottom: 20px;
  }
 
 .card-title > a {
  font-size: 1em;
  }
  
  .homepageh1 h1 {
  font-size: 2rem!important;
  font-weight: 600;
  margin:10px!important;
  }
  

.card-title > a {
    font-size: .8em;
}

  .card-body.home_page_card_1 {

      height: 150px;
   
  }
  
  .card-body.home_page_card_2 {
  
        height: 150px;
     
  }
  
  .card-body.home_page_card_3 {
    
        height: 150px;
       
  }
  
  .card-body.listpage {
      
        height: 150px;
         
    }
  


  
  
  .card-title.mb-0 {
      background-color: rgba(61, 81, 97, 0.5);
      padding: 10px;
      border-radius: 5px;
      border: 0px;
      margin-top: 0px;
      bottom: 0px;
  }
  
  .home.card-title.mb-0 {
  background-color: rgba(61, 81, 97, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  margin-top: 0px;
  bottom: 0px;
  }
  
}




@media only screen 
and (max-width: 480px) {
  
  
.person img {
float: none!important;
margin-top: 0px;
margin-bottom: 0px;
width: 300px!important;
}
  
  
.gc-container .col-md-12, .gc-container .col-sm-12 {
       
       padding-right: 2px!important;
       padding-left: 2px!important;
       }  
  

#ajax_form {

margin-left: 0px;
}  
 
    
  .entry-pane, .form-group {

  margin-left: 1%;
  margin-right: 1%;
  padding:8px!important;
 
  }  
    
    
  
.ui-autocomplete {
      font-size:0.9rem;
      line-height:1.5rem;


}

#record_body img {

  width: 320px!important;
  }



.search_box {
margin-top: 40px;
margin-bottom: 20px;
}
  
 
  
  .navbar {
      padding: 0px;
  }
  
  .col-md-4 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 1px;
      padding-left: 1px;
  }
  
.navbar-brand.mx-auto {

      right: 10px;
      top: -5px;
      background-size: 260px;
      padding-right: 250px;

  } 
  
 
 
.container {
padding-right: 1px; 
padding-left: 1px;

}
  
  .p-5 {
      padding: 1.5rem!important;
     
      }
  }
  
 @media only screen 
 and (max-width: 321px) { 
   
 
   
   #record_body img {
   
     width: 305px!important;
     }

.navbar-brand.mx-auto {

      right: 10px;
      top: 2px;
      background-size: 210px;
      padding-right: 190px;

  }

}